Name: Akshat Deshmukh

PRN: 25070123008

Batch: ENTC A1

In [6]:
# Creation of set
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung'}
print(brands)

{'nike', 'samsung', 'apple', 'adidas', 'dell'}

In [7]:
# Duplicates not allowed
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung', 'apple'}
print(brands)

{'nike', 'samsung', 'apple', 'adidas', 'dell'}

In [8]:
# The values true and 1 are considered the same value in sets
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung', True, 1, 0, False, 2}
print(brands)

{0, 'nike', 2, 'samsung', True, 'apple', 'adidas', 'dell'}

In [9]:
# A set with strings, integers and boolean values:
set1 = {'Pune', 67, False, 12.3}
set1

{12.3, 67, False, 'Pune'}

In [10]:
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung'}
print('dell' in brands)
print('hp' in brands)

True
False

In [11]:
# Once a set is created you cannot replace its items, but you can add new items
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung'}
brands.add('hp')
print(brands)

{'nike', 'hp', 'samsung', 'apple', 'adidas', 'dell'}

In [12]:
# Remove items
brands = {'apple', 'nike', 'adidas', 'dell', 'samsung'}
brands.remove('dell')
print(brands)

{'nike', 'samsung', 'apple', 'adidas'}

In [13]:
# Set operations
A = {5, 6, 7 ,8}
B = {1, 2, 5, 6}

print('Union: ', A | B)
print('Intersection: ', A & B)
print('Difference: ', B -A)
print('Symmetric Difference: ', A ^ B)

Union:  {1, 2, 5, 6, 7, 8}
Intersection:  {5, 6}
Difference:  {1, 2}
Symmetric Difference:  {1, 2, 7, 8}

In [14]:
# Frozenset
brands = frozenset(['apple', 'nike', 'adidas', 'dell', 'samsung'])
print(brands)
print(type(brands))

frozenset({'nike', 'samsung', 'apple', 'adidas', 'dell'})
<class 'frozenset'>

In [15]:
# Adding or Removal of elements are not allowed in Frozenset
brands.add('hp')
brands.remove('samsung')
print(brands)

AttributeError: 'frozenset' object has no attribute 'add'

In [28]:
students = {'John', 'Jimmy', 'Jack', 'Max', 'Jack', 'John', 'James', 'Carl', 'James'}
participants = set(students)
print('Unique participants: ', participants)

Unique participants:  {'Max', 'Carl', 'John', 'Jimmy', 'Jack', 'James'}

In [29]:
# Problem statement 2:
Max = {'Maths', 'Physics', 'Chemistry', 'English', 'Electronics'}
Jack = {'Maths', 'Physics', 'Computer Science', 'English', 'History'}
John = {'Maths', 'Physics', 'Chemistry', 'English', 'Electronics'}

common_subjects = Max & Jack & John
print('Common Subjects: ', common_subjects)

Common Subjects:  {'Physics', 'Maths', 'English'}

In [30]:
# Problem statement 3:
Cricket = {'Max', 'John', 'Jimmy', 'Carl', 'Chris'}
Football = {'Max', 'Jimmy', 'Jack', 'James', 'Chris'}

print('Students in both clubs: ', Cricket & Football)
print('Students in only one club: ', Cricket ^ Football)

Students in both clubs:  {'Max', 'Jimmy', 'Chris'}
Students in only one club:  {'Carl', 'John', 'Jack', 'James'}

In [31]:
# Problem statement 5:
courses = {'ETC100', 'ETC200', 'ETC300', 'ETC400'}
courses.discard('ETC300')
print('Updated courses: ', courses)

Updated courses:  {'ETC100', 'ETC200', 'ETC400'}

In [32]:
# Problem statement 4:
Total = {'John', 'Jimmy', 'Jack', 'Max', 'James', 'Carl'}
Present = {'Jack', 'Max', 'James', 'Carl'}
print('Absent Students: ', Total - Present)

Absent Students:  {'Jimmy', 'John'}

In [33]:
# creation of dictionary

thisdict={"brand":"Lamborghini","model":"revuelto","year":2015}
print(thisdict)

{'brand': 'Lamborghini', 'model': 'revuelto', 'year': 2015}

In [34]:
thisdict={"brand":"Lamborghini","model":"revuelto","year":2015}
print(thisdict["brand"])

Lamborghini

In [17]:
thisdict={"brand":"Lamborghini","model":"revuelto","year":2015,"year":2020} # it takes the latest value given for key , it will not allow duplicate
print(thisdict)

{'brand': 'Lamborghini', 'model': 'revuelto', 'year': 2020}

In [18]:
thisdict={"brand":"Lamborghini","model":"revuelto","year":2015}
len(thisdict)

3

In [19]:
thisdict={"brand":"Lamborghini","model":"revuelto","year":2015}
print(type(thisdict))

<class 'dict'>

In [20]:
Car={"brand":"Lamborghini","model":"revuelto","year":2015}
Car["color"]="black"
print(Car)

{'brand': 'Lamborghini', 'model': 'revuelto', 'year': 2015, 'color': 'black'}

In [21]:
Car={"brand":"Lamborghini","model":"revuelto","year":2015}
Car.update({"color":"black"})
print(Car)
x = Car.values()
print(x)

{'brand': 'Lamborghini', 'model': 'revuelto', 'year': 2015, 'color': 'black'}
dict_values(['Lamborghini', 'revuelto', 2015, 'black'])

In [35]:
#For particular value
student = {"roll":101,"name":"Akash","branch":"E&TC"}
print("name:",student["name"])

name: Akash

In [23]:
Car={"brand":"Lamborghini","model":"revuelto","year":2015}
Car.pop("model")
print(Car)

{'brand': 'Lamborghini', 'year': 2015}

In [24]:
#Problem 1:
product={"pen": 10 ,"pencil": 5 ,"scale": 20 }
product.update({"pencil":"50"})
print(product)

{'pen': 10, 'pencil': '50', 'scale': 20}

In [25]:
#Problem 2:
student_marks={"Amy": 30,"Jake": 40,"Ray":50}
name = input("Enter student name:")
print(student_marks.get(name,"student not found"))

Enter student name:Jake
40

In [26]:
#Problem 3:
student_marks={"Amy": 30,"Jake": 40,"Ray":50}
name = input("Enter student name:")
print(student_marks.get(name,"student not found"))

Enter student name:Rosa
student not found

In [27]:
#Problem 4:
marks = {"Amy": 30,"Jake": 40,"Ray":50}
topper = max(marks, key=marks.get)
print("topper:",topper)
print("marks:",marks[topper])

topper: Ray
marks: 50